<div class="main">
    <div class="left">
        <h1>Buying digital assets has never been so simple!</h1>
        <a class="btn butn btn-success" target="_blank" href="https://account.bitpanda.com/en/register">Get started</a>
    </div>

    <div class="pics">
        <a [routerLink]="'/prices'"> <img class="pic" src="/assets/1.jpg" alt="assets"></a>
        <a [routerLink]="'/prices'"> <img class="pic" src="/assets/2.jpg" alt="assets"></a>
        <a [routerLink]="'/prices'"> <img class="pic" src="/assets/3.jpg" alt="assets"></a>
        <a [routerLink]="'/prices'"> <img class="pic" src="/assets/4.jpg" alt="assets"></a>
    </div>
</div>

<div>
    <a [routerLink]="'/prices'"><img class="indexpic" src="/assets/lll.jpg"></a>
</div>

<div class="devices">
    <h1>The same flawless experience on any device</h1>
    <h2>Download the app and start trading like a PRO</h2>
    <img class="devicespic" src="https://cdn.bitpanda.com/media/index-apps%203.png">
</div>